apiVersion: v1
kind: Service
metadata:
  name: survey-backend
spec:
  selector:
    app: survey-backend
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30080
