apiVersion: v1
kind: PersistentVolume
metadata:
  name: survey-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/survey-db"   # stored on EC2 node
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: survey-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
